body {
	margin: 0;
	padding: 0;
    background-color: #fff;
    justify-content: center;
    align-items: center;
	
}

p{
    color:#08344c;
    z-index: 1;
    
}

header {
	background-color: #fff;
	color: #fff;
	padding: 20px;
	text-align: center;
}

nav {
	background-color: #fff;
	color: #fff;
	padding: 10px;
	text-align: center;
    
}

nav ul {
	list-style-type: none;
	margin-left: 60px;
	padding: 0px;
	display: flex;
	justify-content: center;
}

nav ul li {
	margin: 0 10px;
    font-size: 20px;
    color: #08344c;
}

main {
	padding: 20px;
	text-align: center;
    font-family: 'sans-serif';
    height: 0px;
    /*background-color: #f2fbff;*/
}

footer {
	
	color: #bebebe;
	padding: 10px;
    position:absolute;
    bottom: 0;
	text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.box {
    flex: 0.05 0.05 10%;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.box img {
    max-width: 100%;
    margin-bottom: 10px;
}

.table1 {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    font-size: 14px;
    font-family: 'Poppins';
    margin-left: -27px;
    
}

.table2 {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    font-size: 30px;
    font-family: 'Poppins';
    
    
    
}


.table3 {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    font-size: 30px;
    font-family: 'Poppins';
    
    
    
}

th, td {
    border: 0px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size: 20px;
    font-family: 'Poppins';
}


td.less-width {
    width: 20%;
}

button {
    background-color:#fff;
    color: #08344c;
    
    padding: 12px 8px;
    text-align: center;
    font-family: 'Poppins';
    
    text-transform: uppercase;
    margin-top: 4px;
    cursor: pointer;
    border: none;
    font-size:18px;
    font-weight: 600
    
}
button:hover {
    background-color: #b6b4b475;
}

h1.white-color {
    color:white;
}

h1.blue-color {
    color: #08344c
}

.tc-container{
    margin-left: 20px;
    margin-top: 5px;
    width: 120px;
    height: 99px;
    position: relative;
}

.tc-container img{
    height: 100%;
    
}

.top-img {
    position: absolute;
    left: 0;
    top:0;
    opacity: 0;
    transition: all linear 0.1s;
    
}

.top-img:hover{
    opacity:1;
}

.bottom-img{
    margin-top:-5px;
}

.nav-text{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #08344c;
}

.nav-text:hover {
    background-color: #b6b4b475;
    color: #08344c;
  }

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf') format('woff2'),
         url('/fonts/Poppins-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;

  }


.bkg-img-main{
    background-image: url('/static/large.png');
    background-repeat: no-repeat;
    background-size:50%;
    background-position:top;
    background-color: #f2fbff;
    font-family: sans-serif;
}



.about-text{
    font-family: Montserrat;
    color: #c9c9c9;
    font-size: 20px;
    
}

input[type="number"] {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Poppins'
    
  }

.subtable-img-icon{
    width: 100px;
    height: 100px;
    
}

.subtable-img-icon2{
    width: 100px;
    height: 100px;
    
}

/* Style the dropdown button */
.dropdown{
    display: inline-block;
}

.dropdown-btn {
    background-color: #bebebe;
    border: none;
    color: #08344c;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1;
  }
  
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    z-index: 2;
    align-self: center;
    position:fixed;
    background-color: #f1f1f1;
    height: 200px;
    overflow-y: auto;
  }

  .dropdown-content span {
    color: #08344c;
    padding: 12px 16px;
    display: block;
    cursor: pointer;
    margin:auto;
  }
  
  /* Show the dropdown content when the dropdown button is clicked */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Style the dropdown menu items */
  .dropdown-content a {
    color: #08344c;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change the background color of the dropdown menu items on hover */
  .dropdown-content a:hover {
    background-color:#fff;
  }


  
  /* Change the background color of the dropdown menu items on hover */
  .dropdown-content span:hover {
    background-color: #c9c9c9;
  }