<!DOCTYPE html>
<html>
<head>
	<title>KGK Diagnostics</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>
<body>
    <header>
        <table class = "table1">
            <tr>
                
                <td>
                    <nav>
                        <ul style="margin-left: 75px; ">
                            <li><a href="{{ url_for('views.index') }}" class= "nav-text">Home</a></li>
                            <li><a href="{{ url_for('views.gendisease') }}" class= "nav-text">General Disease</a></li>
                            <li><a href="{{ url_for('views.diabetes') }}" class= "nav-text">Diabetes</a></li>
                            <li><a href="{{ url_for('get_hospitals') }}" class= "nav-text">Hospital Tracker</a></li>
                            
                        </ul>
                    </nav>
                </td>
                
            </tr>
    
        </table>
    </header>
    
	
	<main>
        <form method="POST" action="/submit_diabetes">
            <label for="age" style="font-size: 20px;">Enter your age:</label>
            <input type="number" id="age-input" name="age-input" min="1" max="100">
            
            <table class="table4">
                <tr>
                    <th>Do you feel..</th>
                    <th>Other symptoms</th>
                </tr>

                
                <tr>
                    <td>
                        <label for="excessively-hungry">Excessively hungry?</label>
                        <input type="checkbox" id="excessively-hungry" name="excessively-hungry">
                    </td>
                    <td>
                        <label for="urinating-excessively">Are you urinating excessively?</label>
                        <input type="checkbox" id="urinating-excessively" name="urinating-excessively">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="excessively-thirsty">Excessively thirsty?</label>
                        <input type="checkbox" id="excessively-thirsty" name="excessively-thirsty">
                    </td>
                    <td>
                        <label for="diabetes-checkbox">Do you have genital thrush?</label>
                        <input type="checkbox" id="genital-thrush" name="genital-thrush">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="diabetes-checkbox">Weakness?</label>
                        <input type="checkbox" id="weakness" name="weakness">
                    </td>
                    <td>
                        <label for="diabetes-checkbox">Have you lost weight suddenly?</label>
                        <input type="checkbox" id="lost-weight" name="lost-weight">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="diabetes-checkbox">Irritable?</label>
                        <input type="checkbox" id="irritable" name="irritable">
                    </td>
                    <td>
                        <label for="diabetes-checkbox">Is your vision blurred?</label>
                        <input type="checkbox" id="vision-blurred" name="vision-blurred">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="diabetes-checkbox">Itchy?</label>
                        <input type="checkbox" id="itchy" name="itchy">
                    </td>
                    <td>
                        <label for="diabetes-checkbox">Do you have delayed healing?</label>
                        <input type="checkbox" id="delayed-healing" name="delayed-healing">
                    </td>
                </tr>
                <tr>
                    <td>
                        
                    </td>
                    <td>
                        <label for="diabetes-checkbox">Do you have partial paresis?</label>
                        <input type="checkbox" id="partial-paresis" name="partial-paresis">
                    </td>
                </tr>
                <tr>
                    <td>
                        
                    </td>
                    <td>
                        <label for="diabetes-checkbox">Are your muscles stiff?</label>
                        <input type="checkbox" id="stiff-muscles" name="stiff-muscles">
                    </td>
                </tr>
                <tr>
                    <td>
                        
                    </td>
                    <td>
                        <label for="diabetes-checkbox">Do you have alopecia?</label>
                        <input type="checkbox" id="alopecia" name="alopecia">
                    </td>
                </tr>
                <tr>
                    <td>
                        
                    </td>
                    <td>
                        <label for="diabetes-checkbox">Are you obese?</label>
                        <input type="checkbox" id="obese" name="obese">
                    </td>
                </tr>
                
                
                
                
                
            </table>
            <button type="submit" id="submit-btn">Predict</button>
            <script src="script.js"></script>
        </form>
	</main>

	<footer>
		
        <a>Please keep in mind that this app uses predictors based on machine learning algorithms. Although the results are highly accurate, false positive or negative results can occur. If you still have concerns after consulting our app, please contact your doctor or find a hospital using our locator tool.
        </a>
	</footer>
</body>
</html>
