<!DOCTYPE html>
<html>
<head>
	<title>KGK Diagnostics</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <table class = "table1">
            <tr>
                
                <td>
                    <nav>
                        <ul style="margin-left: 75px; ">
                            <li><a href="{{ url_for('views.index') }}" class= "nav-text">Home</a></li>
                            <li><a href="{{ url_for('views.gendisease') }}" class= "nav-text">General Disease</a></li>
                            <li><a href="{{ url_for('views.diabetes') }}" class= "nav-text">Diabetes</a></li>
                            <li><a href="{{ url_for('views.hospital') }}" class= "nav-text">Hospital Tracker</a></li>
                            
                        </ul>
                    </nav>
                </td>
                
            </tr>
    
        </table>
    </header>
    
	
	<main>
        <label for="age-input" style="font-size: 20px;">Enter your age:</label>
        <input type="number" id="age-input" name="age-input" min="1" max="100">
        
		<table class="table2">
            <tr>
                <th>Do you feel..</th>
                <th>Other symptoms</th>
            </tr>

            
            <tr>
                <td>
                    <label for="diabetes-checkbox">Excessively hungry?</label>
                    <input type="checkbox" id="excessively-hungry" name="diabetes-checkbox">
                </td>
                <td>
                    <label for="diabetes-checkbox">Are you urinating excessively?</label>
                    <input type="checkbox" id="urinating-excessively" name="diabetes-checkbox">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="diabetes-checkbox">Excessively thirsty?</label>
                    <input type="checkbox" id="excessively-thirsty" name="diabetes-checkbox">
                </td>
                <td>
                    <label for="diabetes-checkbox">Do you have genital thrush?</label>
                    <input type="checkbox" id="genital-thrush" name="diabetes-checkbox">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="diabetes-checkbox">Weakness?</label>
                    <input type="checkbox" id="weak" name="diabetes-checkbox">
                </td>
                <td>
                    <label for="diabetes-checkbox">Have you lost weight suddenly?</label>
                    <input type="checkbox" id="lost-weight" name="diabetes-checkbox">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="diabetes-checkbox">Irritable?</label>
                    <input type="checkbox" id="irritable" name="diabetes-checkbox">
                </td>
                <td>
                    <label for="diabetes-checkbox">Is your vision blurred?</label>
                    <input type="checkbox" id="vision-blurred" name="diabetes-checkbox">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="diabetes-checkbox">Itchy?</label>
                    <input type="checkbox" id="itchy" name="diabetes-checkbox">
                </td>
                <td>
                    <label for="diabetes-checkbox">Do you have delayed healing?</label>
                    <input type="checkbox" id="delayed-healing" name="diabetes-checkbox">
                </td>
            </tr>
            <tr>
                <td>
                    
                </td>
                <td>
                    <label for="diabetes-checkbox">Do you have partial paresis?</label>
                    <input type="checkbox" id="partial-paresis" name="diabetes-checkbox">
                </td>
            </tr>
            <tr>
                <td>
                    
                </td>
                <td>
                    <label for="diabetes-checkbox">Are your muscles stiff?</label>
                    <input type="checkbox" id="stiff-muscles" name="diabetes-checkbox">
                </td>
            </tr>
            <tr>
                <td>
                    
                </td>
                <td>
                    <label for="diabetes-checkbox">Do you have alopecia?</label>
                    <input type="checkbox" id="alopecia" name="diabetes-checkbox">
                </td>
            </tr>
            <tr>
                <td>
                    
                </td>
                <td>
                    <label for="diabetes-checkbox">Are you obese?</label>
                    <input type="checkbox" id="obese" name="diabetes-checkbox">
                </td>
            </tr>
            
            
            
            
            
        </table>
	</main>

	<footer>
		
        
	</footer>
</body>
</html>
