<!DOCTYPE html>
<html>
<head>
	<title>KGK Diagnostics</title>
    <script src="script.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <table class = "table1">
            <tr>
                
                <td>
                    <nav>
                        <ul style="margin-left: 75px; ">
                            <li><a href="{{ url_for('views.index') }}" class= "nav-text">Home</a></li>
                            <li><a href="{{ url_for('views.gendisease') }}" class= "nav-text">General Disease</a></li>
                            <li><a href="{{ url_for('views.diabetes') }}" class= "nav-text">Diabetes</a></li>
                            <li><a href="{{ url_for('views.hospital') }}" class= "nav-text">Hospital Tracker</a></li>
                            
                        </ul>
                    </nav>
                </td>
                
            </tr>
    
        </table>
    </header>
    
	
	<main>
		<a class = "about-text">Please input any symptoms you may have.</a>
        <table class = "table2">
            <tr>
                <td>
                    <p>Integumentary System (Skin, Hair)</p>

                    <table class = "table2">
                        <tr>
                            
                            <td>
                                <div class="dropdown">
                                    <input type="button" class="dropdown-btn" value="Select Symptoms">
                                    <div class="dropdown-content">
                                        <span>Itching</span>
                                        <span>Skin Rash</span>
                                        <span>Nodal Skin Eruptions</span>
                                        <span>Cold Hands and Feet</span>
                                        <span>Yellowish Skin</span>
                                        <span>Puffy Face and Eyes</span>
                                        <span>Brittle Nails</span>
                                        <span>Swollen Extremeties</span>
                                        <span>Blister</span>
                                        <span>Inflammatory Nails</span>
                                        <span>Small Dents in Nails</span>
                                        <span>Skin Peeling</span>
                                        <span>Pus Filled Pimples</span>
                                        <span>Blackheads</span>
                                        <span>Scurring</span>
                                        <span>Red Spots Over Body</span>
                                        <span>Dischromic Patches</span>
                                        
                                    </div>
                                  </div>
                            </td>
                        </tr>
                    </table>

                </td>
                <td>
                    <p>Digestive System (Stomach, Liver)</p>
                    <table class = "table2">
                        <tr>
                            
                            <td>
                                <div class="dropdown">
                                    <input type="button" class="dropdown-btn" value="Select Symptoms">
                                    <div class="dropdown-content">
                                        <span>Stomach Pain</span>
                                        <span>Acidity</span>
                                        <span>Ulcers on Tongue</span>
                                        <span>Vomiting</span>
                                        <span>Weight Gain</span>
                                        <span>Weight Loss</span>
                                        <span>Patches In Throat</span>
                                        <span>Irregular Sugar Level</span>
                                        <span>Indigestion</span>
                                        <span>Loss of Appetite</span>
                                        <span>Constipation</span>
                                        <span>Abdominal Pain</span>
                                        <span>Diarrhoea</span>
                                        <span>Swelling of Stomach</span>
                                        <span>Pain during bowel movements</span>
                                        <span>Pain in anal region</span>
                                        <span>Bloody Stool</span>
                                        <span>Stomach Bleeding</span>
                                        <span>Irritation in anus</span>
                                        <span>Cramps</span>
                                        <span>Excessive Hunger</span>
                                        <span>Passage of Gases</span>
                                        <span>Belly Pain</span>
                                        <span>Increased appetite</span>
                                        <span>Distention of abdomen</span>
                                        <span>Nausea</span>
                                        <span>Acute Liver Failure</span>
                                    </div>
                                  </div>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <p>Respiratory System (Lungs)</p>
                    <table class = "table2">
                        <tr>
                            
                            <td>
                                <div class="dropdown">
                                    <input type="button" class="dropdown-btn" value="Select Symptoms">
                                    <div class="dropdown-content">
                                        <span>Continuous sneezing</span>
                                        <span>Cough</span>
                                        <span>Breathlessness</span>
                                        <span>Runny Nose</span>
                                        <span>Congestion</span>
                                        <span>Sinus Pressure</span>
                                        <span>Patches In Throat</span>
                                        <span>Phlegm</span>
                                        <span>Throat Irritation</span>
                                        <span>Loss of Smell</span>
                                        <span>Mucoid Sputum</span>
                                        <span>Rusty Sputum</span>
                                        <span>Blood in Sputum</span>
                                    </div>
                                  </div>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <p>Related to eyes</p>
                    <table class = "table2">
                        <tr>
                            <td>
                                <div class="dropdown">
                                    <input type="button" class="dropdown-btn" value="Select Symptoms">
                                    <div class="dropdown-content">
                                        <span>Sunken Eyes</span>
                                        <span>Pain Behind the Eyes</span>
                                        <span>Yellowing of Eyes</span>
                                        <span>Blurred and Distorted Vision</span>
                                        <span>Redness of Eyes</span>
                                        <span>Watering from eyes</span>
                                        <span>Visual Disturbances</span>
                                    </div>
                                  </div>
                            </td>
                            
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr>
                <td>
                    <p>Musculoskeletal System (Muscles, Bones)</p>
                    <table class = "table2">
                        <tr>
                            
                            <td>
                                <div class="dropdown">
                                    <input type="button" class="dropdown-btn" value="Select Symptoms">
                                    <div class="dropdown-content">
                                        <span>Joint Pain</span>
                                        <span>Muscle Wasting</span>
                                        <span>Weakness in Limbs</span>
                                        <span>Cramps</span>
                                        <span>Knee Pain</span>
                                        <span>Hip Joint Pain</span>
                                        <span>Muscle Weakness</span>
                                        <span>Stiff Neck</span>
                                        <span>Swelling Joints</span>
                                        <span>Movement Stiffness</span>
                                        <span>Muscle Pain</span>
                                        <span>Painful Walking</span>
                                    </div>
                                  </div>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <p>Related to body temperature</p>
                    <table class = "table2">
                        <tr>
                            <td>
                                <div class="dropdown">
                                    <input type="button" class="dropdown-btn" value="Select Symptoms">
                                    <div class="dropdown-content">
                                        <span>Shivering</span>
                                        <span>Chills</span>
                                        <span>High Fever</span>
                                        <span>Mild Fever</span>
                                        <span>Sweating</span>
                                        
                                    </div>
                                  </div>
                            </td>
                            

                        </tr>
                    </table>
                </td>
                <td>
                    <p>Urinary System</p>
                    <table class = "table2">
                        <tr>
                            <td>
                                <div class="dropdown">
                                    <input type="button" class="dropdown-btn" value="Select Symptoms">
                                    <div class="dropdown-content">
                                        <span>Burning Micturition</span>
                                        <span>Spotting Urination</span>
                                        <span>Dark urine</span>
                                        <span>Yellow Urine</span>
                                        <span>Bladder Discomfort</span>
                                        <span>Foul Smell of Urine</span>
                                        <span>Continuous Feel of Urine</span>
                                        <span>Polyuria</span>
                                        
                                    </div>
                                  </div>
                            </td>
                            
                        </tr>
                    </table>
                </td>
                <td>
                    <p>Related to emotions or energy levels</p>
                    <table class = "table2">
                        <tr>
                            <td>
                                <div class="dropdown">
                                    <input type="button" class="dropdown-btn" value="Select Symptoms">
                                    <div class="dropdown-content">
                                        <span>Anxiety</span>
                                        <span>Lethargy</span>
                                        <span>Depression</span>
                                        <span>Irritability</span>
                                        <span>Fatigue</span>
                                        <span>Restlessness</span>
                                        <span>Mood Swings</span>
                                    </div>
                                  </div>
                            </td>
                            
                        </tr>
                    </table>
                </td>
            </tr>
            <table class = "table3">
                <tr>
                    <td>
                        <p>Circulatory System (Heart, Veins)</p>
                        <table class = "table2">
                            <tr>
                                
                                <td>
                                    <div class="dropdown">
                                        <input type="button" class="dropdown-btn" value="Select Symptoms">
                                        <div class="dropdown-content">
                                            <span>Irregular Sugar Levels</span>
                                            <span>Fast Heart Rate</span>
                                            <span>Swollen Blood Vessels</span>
                                            <span>Recieving Blood Transfusion</span>
                                            <span>Recieving Unsterile Injections</span>
                                            <span>Prominent Veins on Calf</span>
                                            <span>Palpitations</span>
                                        </div>
                                      </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <!--
                    <td>
                        <p>Other Symptoms</p>
                        <table class = "table2">
                            <tr>
                                <td>
                                    <div class="dropdown">
                                        <input type="button" class="dropdown-btn" value="Select Symptoms">
                                        <div class="dropdown-content">
                                            <span>Option 1</span>
                                            <span>Option 2</span>
                                            <span>Option 3</span>
                                        </div>
                                      </div>
                                </td>
                                
                            </tr>
                        </table>
                    </td>
                    -->
                </tr>
                
            </table>

        </table>
	</main>

	<footer>
        <a>Please keep in mind that this app uses predictors based on machine learning algorithms. Although the results are highly accurate, false positive or negative results can occur. If you still have concerns after consulting our app, please contact your doctor or find a hospital using our locator tool.
        </a>        
	</footer>
</body>
</html>
