<!DOCTYPE html>
<html>
<head>
	<title>KGK Diagnostics</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <table class = "table1">
            <tr>
                
                <td>
                    <nav>
                        <ul style="margin-left: 75px; ">
                            <li><a href="{{ url_for('views.index') }}" class= "nav-text">Home</a></li>
                            <li><a href="{{ url_for('views.gendisease') }}" class= "nav-text">General Disease</a></li>
                            <li><a href="{{ url_for('views.diabetes') }}" class= "nav-text">Diabetes</a></li>
                            <li><a href="{{ url_for('views.hospital') }}" class= "nav-text">Hospital Tracker</a></li>
                            
                        </ul>
                    </nav>
                </td>
                
            </tr>
    
        </table>
    </header>
    
	
	<main>
		<a class = "about-text">Please input any symptoms you may have.</a>
        <table class = "table2">
            <tr>
                <td>
                    <p>Integumentary System (Skin, Hair)</p>
                </td>
                <td>
                    <p>Digestive System (Stomach, Liver)</p>
                </td>
                <td>
                    <p>Respiratory System (Lungs)</p>
                </td>
                <td>
                    <p>Related to eyes</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Musculoskeletal System (Muscles, Bones)</p>
                </td>
                <td>
                    <p>Related to body temperature</p>
                </td>
                <td>
                    <p>Urinary System</p>
                </td>
                <td>
                    <p>Related to emotions or energy levels</p>
                </td>
            </tr>
            <table class = "table3">
                <tr>
                    <td>
                        <p>Circulatory System (Heart, Veins)</p>
                    </td>
                    <td>
                        <p>Other Symptoms</p>
                    </td>
                </tr>
                
            </table>

        </table>
	</main>

	<footer>
		
        
	</footer>
</body>
</html>
